<ion-view view-title="Examples">
  <ion-content>

  <div class="card">
    <div class="item item-divider calm-bg" id="setting-getting">
        <h2 class="white-text">Multiple selections</h2>
      </div>
  </div>

  <div class="card">
  <div class="item item-text-wrap energized-bg">
      <b class=""><i class="icon ion-alert-circled"></i> Please note</b>
      <p>This feature is still experimental!</p>
  </div>
  </div>

  <div class="card list">

    <div ng-include="'templates/examples/multiple-array-values.html'"></div>
    <div ng-include="'templates/examples/multiple-array-objects.html'"></div>

  </div><!--end of card -->

  </ion-content>
</ion-view>
