<ion-view view-title="Examples">
  <ion-content>
  <div class="card">
  <div class="item item-divider calm-bg" id="setting-getting">
          <h2 class="white-text">Search</h2>
      </div>
  </div>

  <div class="card list">

    <div ng-include="'templates/examples/search-bar.html'"></div>
    <div ng-include="'templates/examples/search-subheader.html'"></div>
    <div ng-include="'templates/examples/search-clearing.html'"></div>
    <div ng-include="'templates/examples/search-placeholder.html'"></div>
    <div ng-include="'templates/examples/search-properties.html'"></div>

  </div><!--end of card -->


  </ion-content>
</ion-view>
