<ion-view view-title="Examples">
<ion-content>
  <div class="card">
  <div class="item item-divider calm-bg" id="setting-getting">
          <h2 class="white-text">Setting and getting options</h2>
      </div>
  </div>

  <div ng-include="'templates/examples/options-array-values.html'"></div>
  <div ng-include="'templates/examples/options-array-objects.html'"></div>
  <div ng-include="'templates/examples/options-change-over-time.html'"></div>
  <div ng-include="'templates/examples/options-expressions.html'"></div>

</ion-content>
</ion-view>
