<ion-view view-title="Examples">
  <ion-content>

  <div class="card">
    <div class="item item-divider calm-bg" id="setting-getting">
        <h2 class="white-text">UI and modal style</h2>
      </div>
  </div>

  <div class="card list">

    <div ng-include="'templates/examples/styling-modal-classes.html'"></div>
    <div ng-include="'templates/examples/styling-modal-title.html'"></div>
    <div ng-include="'templates/examples/styling-cancel-reset.html'"></div>

  </div><!--end of card -->

  </ion-content>
</ion-view>
