<ion-view view-title="Examples">
  <ion-content>
    <div class="card">
      <div class="item item-divider calm-bg" id="setting-getting">
        <h2 class="white-text">Rendering</h2>
      </div>
    </div>

    <div class="card list">

      <div ng-include="'templates/examples/rendering-automatic.html'"></div>
      <div ng-include="'templates/examples/rendering-explicit.html'"></div>
      <div ng-include="'templates/examples/rendering-loading-message.html'"></div>

    </div>
    <!--end of card -->


  </ion-content>
</ion-view>
