<ion-view view-title="Examples">
  <ion-content>
  <div class="card">
  <div class="item item-divider calm-bg" id="setting-getting">
          <h2 class="white-text">Search</h2>
      </div>
  </div>
  <div class="card list">
      
      <!--- array of values -->
      <div class="item item-divider">
          Adding a search bar
      </div>
      <div class="item item-text-wrap">
        <p>You can add a search bar by simply adding <code>has-search="true"</code> to your modal select</p>
        <p>Filtering is implemented with the angular <code>filter</code> filter, which searches recursively in all properties of the objects passed in as options. This means that you cannot search on "computed properties" right now. For example if you are using a custom setter you will be only able to search the original properties of the options.</p>
      </div>
      <div class="item item-body">
      
        <h3>Controller:</h3>
        <div example-render mode="javascript" class="">
$scope.selectableNames =  [
  { name : "Mauro", role : "juggler"}, 
  { name : "Silvia", role : "chef"},
  { name : "Merlino", role : "little canaglia"},
];
        </div>
        <h3>Template:</h3>
        <div example-render>  
<button class="button button-positive" modal-select ng-model="searchModel" options="selectableNames" has-search="true">
  Select it
  <div class="option">
    {{option}}
  </div>
</button>
<h3>
  Selected value: {{searchModel}} 
</h3>
        </div>
      
        <h3>Result:</h3>
        <button class="button button-positive" modal-select ng-model="searchModel" options="selectableNames" has-search="true">
  Select it
  <div class="option">
    {{option}}
  </div>
</button>
        <h3>
          Selected value: {{searchModel}} 
        </h3>

      </div>
      <!-- end of example 1 -->
      
      <div class="item item-divider">
          Subheader style
      </div>
      <div class="item item-text-wrap">
        <p>When including a search bar it may be useful to style the subheader, where the bar is placed. This can be done with the <span class="positive">sub-header-class</span> attribute</p>
      </div>
      <div class="item item-body">
        <h3>Controller:</h3>
        <div example-render mode="javascript" class="">
$scope.numbers = [1,2,3,4,5,6,7,8];
        </div>
        <h3>Template:</h3>
        <div example-render>  
<button class="button button-positive" modal-select ng-model="subHeadModel" options="numbers" has-search="true" sub-header-class="bar-dark" header-footer-class="bar-dark">
  Select it
  <div class="option">
    {{option}}
  </div>
</button>
<h3>
  Selected value: {{subHeadModel}} 
</h3>
        </div>
      
        <h3>Result:</h3>
        <button class="button button-positive" modal-select ng-model="subHeadModel" options="numbers" has-search="true" sub-header-class="bar-dark" header-footer-class="bar-dark">
          Select it
          <div class="option">
            {{option}}
          </div>
        </button>
        <h3>
          Selected value: {{subHeadModel}} 
        </h3>

      </div>
      <!-- end of example 2 -->

      
      
      <!-- example 3 -->
      <div class="item item-divider">
          Clearing search bar after selection
      </div>
      <div class="item item-text-wrap">
        <p>When you add the search bar and the user selects an option, an eventual search text will be cleared after the selection. If you want to persist the search text after the selection, set <span class="positive">clear-search-on-select</span> to <code>false</code>.</p>

      </div>
      <div class="item item-body">
        <h3>Controller:</h3>
        <div example-render mode="javascript" class="">
$scope.numbers = [1,2,3,4,5,6,7,8];
        </div>
        <h3>Template:</h3>
        <div example-render>  
<button class="button button-positive" modal-select ng-model="persistSearchModel" options="numbers" has-search="true" clear-search-on-select="false">
  Select it
  <div class="option">
    {{option}}
  </div>
</button>
<h3>
  Selected value: {{persistSearchModel}} 
</h3>
        </div>
      
        <h3>Result:</h3>
        <button class="button button-positive" modal-select ng-model="persistSearchModel" options="numbers" has-search="true" clear-search-on-select="false">
          Select it
          <div class="option">
            {{option}}
          </div>
        </button>
        <h3>
          Selected value: {{persistSearchModel}} 
        </h3>

      </div>
      <!-- end of example 3 -->


    </div><!--end of card -->
  
  
  </ion-content>
</ion-view>
