<ion-view view-title="Examples">
  <ion-content>
  <div class="card">
  <div class="item item-divider calm-bg ">
          <h2 class="white-text">Setting and getting options</h2>
      </div>
  </div>
  <div class="card list">
      
      <!--- array of values -->
      <div class="item item-divider">
          Array of values
      </div>
      <div class="item item-text-wrap">
        <p>The simplest way of using the directive is passing in an <b>array of values</b> as options. The select is bound to a model in your controller.</p>
      </div>
      <div class="item item-body">
        <h3>Controller:</h3>
        <div example-render mode="javascript" class="">
$scope.someModel = null;
$scope.selectables = [1, 2, 3];
        </div>
        <h3>Template</h3>
        <div example-render>  
<button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" modal-title="Select a number">
  Select it
  <div class="option">
    {{option}}
  </div>
</button>
<h3>
  someModel value: {{someModel}} 
</h3>
        </div>
      
      </div>
      <div class="item item-body">
        <h3>Result:</h3>
        <button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" modal-title="Select a number">
          Select it
          <div class="option">
            {{option}}
          </div>
        </button>
        <h3>
          someModel value: {{someModel}} 
        </h3>

      </div>

    </div>
    <div class="card list">
      <!--- array of objects -->
      <div class="item item-divider">
          Array of objects
      </div>
      <div class="item item-body">
        <h3>Getting whole object</h3>
        <p>You can also pass in an array of objects to be used as options. In this case you can decide which fields you want to render in your option template. If nothing else is specified, the directive will set the whole object on your model</p>
        <h3>Controller:</h3>
        <div example-render mode="javascript">
$scope.secondModel = null;
$scope.selectableNames =  [
  { name : "Mauro", role : "juggler"}, 
  { name : "Silvia", role : "chef"},
  { name : "Merlino", role : "little canaglia"},
];
        </div>
        <h3>Template</h3>
        <div example-render>  
<button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" modal-title="Select a person">
  Select it
  <div class="option">
    {{option}}
  </div>
</button>
<h3>
  Selected value: {{secondModel}} 
</h3>
        </div>

        <h3>Result:</h3>
        <button class="button button-positive" modal-select="" ng-model="secondModel" options="selectableNames" modal-title="Select a person">
          Select it
          <div class="option">
            <h2 class="title">{{option.name}}</h2>
            <p>{{option.role}}</p>
          </div>
        </button>
        <h3>
          Selected value: {{secondModel}} 
        </h3>
      <hr>
      <h3>Getting a single property</h3>
      <p>
        If you want to pick only a property of your object as result of selection, you can do it by using the <span class="positive">option-property</span> attribute. <br>
        In our previous example, let's pick only the value of the "name" property of our options. Note that you can still use all the properties of your objects in option template.
      </p>
      <h3>Template</h3>
        <div example-render>  
<button class="button button-positive" modal-select="" ng-model="model3" options="selectables" option-property="name" modal-title="Select a person">
  Select it
  <div class="option">
    {{option}}
  </div>
</button>
<h3>
  Selected value: {{secondModel}} 
</h3>
        </div>
        <h3>Result:</h3>
        <button class="button button-positive" modal-select="" ng-model="model3" option-property="name" options="selectableNames" modal-title="Select an person">
          Select it
          <div class="option">
            <h2 class="title">{{option.name}}</h2>
            <p>{{option.role}}</p>
          </div>
        </button>
        <h3>
          Selected value: {{model3}} 
        </h3>

        <hr>
        <h3>Getting a custom value with <b>option-getter</b></h3>
        <p>
          You can also pick up a value computed from the selected option in a custom way. This can be done using the <span class="positive">option-getter</span> attribute and specifying a function call to obtain the selected value from the original option. The function call must use a parameter called <b>option</b> as argument.
        </p>
        <h3>Controller:</h3>
        <div example-render mode="javascript">
$scope.getOpt = function(option){
    return option.name + ":" + option.role;
};
        </div>
        <h3>Template</h3>
        <div example-render>  
<button class="button button-positive" modal-select="" ng-model="model4" options="selectables" option-getter="getOpt(option)"  modal-title="Select a person">
  Select it
  <div class="option">
    {{option}}
  </div>
</button>
<h3>
  Selected value: {{model4}} 
</h3>
        </div>
        <h3>Result:</h3>
        <button class="button button-positive" modal-select="" ng-model="model4" option-getter="getOpt(option)" options="selectableNames" modal-title="Select a person">
          Select it
          <div class="option">
            <h2 class="title">{{option.name}}</h2>
            <p>{{option.role}}</p>
          </div>
        </button>
        <h3>
          Selected value: {{model4}} 
        </h3>

        <hr>

      </div>

      
      <div class="item item-divider">
          Options can change over time
      </div>
      <div class="item item-body">
        <p>If options are passed in via <span class="positive">options</span> attribute, the directive will watch the options array for changes and update the list presented to the user accordingly. <br>
        In this example we change the set of options with a button, but you can use this feature to get options from a server, a json file or an asyncronous function in general.</p>
        <h3>Controller:</h3>

        <h3>Result:</h3>
        <button class="button button-positive" modal-select="" ng-model="model5"  options="changingOptions">
          Select it
          <div class="option">
            <h2 class="title">{{option}}</h2>
          </div>
        </button>
        <button class="button" ng-click="toggleChanging()">Toggle option set</button>
        <h3>
          Selected value: {{model5}} 
        </h3>

        <hr>

      </div>
  


      <div class="item item-divider">
          Options via <b>options-expression</b>
      </div>
      <div class="item item-body">
        <h3>Getting whole object</h3>
        <p>You can also pass in an array of objects to be used as options. In this case you can decide which fields you want to render in your option template. If nothing else is specified, the directive will set the whole object on your model</p>
        <h3>Controller:</h3>
      </div>
  

  
  </div> <!-- end of card -->
  <!--
    <div class="item item-divider"></div>
        <div class="item item-text-wrap">
          List of numbers.
        </div>
        <div class="item item-body">
          <button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" modal-title="Select a number">
            Select it
            <div class="option">
              {{option}}
            </div>
          </button>

          <button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" modal-title="Select a number" has-search="true">
            Select it (with search)
            <div class="option">
              {{option}}
            </div>
          </button>


        </div>
        <div class="item">
          
        </div>

        <div class="item item-divider"></div>
        <div class="item item-text-wrap">
          Long list of numbers rendered with collection-repeat and custom header and footer set.
        </div>
        <div class="item item-body">
          <button class="button button-energized" modal-select="" ng-model="someOtherModel" options="longList" modal-title="Select a number" header-footer-class="bar-positive">
            Select it
            <div class="option">
              {{option}}
            </div>
          </button>

          <button class="button button-energized" modal-select="" ng-model="someOtherModel" options="longList" modal-title="Select a number" header-footer-class="bar-positive" has-search="true" sub-header-class="bar-positive">
            Select it (with search)
            <div class="option">
              {{option}}
            </div>
          </button>
        </div>
        <div class="item">
          someOtherModel: {{someOtherModel}}
        </div>


        <div class="item item-divider"></div>
        <div class="item item-text-wrap">
          List of objects with model bound to the option object
        </div>
        <div class="item item-body">
          <button class="button button-royal" modal-select="" ng-model="someObjModel" options="selectableNames">
            Select it
            <div class="option">
              <h2>{{option.name}}</h2>
              <p>{{option.role}}</p>
            </div>
          </button>
          <button class="button button-royal" modal-select="" ng-model="someObjModel" options="selectableNames" has-search="true">
            Select it (with search)
            <div class="option">
              <h2>{{option.name}}</h2>
              <p>{{option.role}}</p>
            </div>
          </button>
        </div>
        <div class="item">
          someUnSetModel: {{someObjModel}}
        </div>

        <div class="item item-divider"></div>
        <div class="item item-text-wrap">
          List of objects and model bound via `option-property` attribute. The initial value for this model is already set in the controller.
        </div>
        <div class="item item-body">
          <button class="button button-assertive" modal-select="" ng-model="someSetModel" options="selectableNames" option-property="name">
            {{ someSetModel || &apos;Select it&apos;}}
            <div class="option">
              <h2>{{option.name}}</h2>
              <p>{{option.role}}</p>
            </div>
          </button>
          <button class="button button-assertive" modal-select="" ng-model="someSetModel" options="selectableNames" option-property="name" has-search="true">
            {{ someSetModel || &apos;Select it&apos;}} (searchable!)
            <div class="option">
              <h2>{{option.name}}</h2>
              <p>{{option.role}}</p>
            </div>
          </button>
        </div>
        <div class="item">
          someSetModel: {{someSetModel}}
        </div>

        <div class="item item-divider"></div>
        <div class="item item-text-wrap">
          List of objects and custom getter function.
        </div>
        <div class="item item-body">
          <button class="button button-dark" modal-select="" ng-model="someThirdModel" options="selectableNames" option-getter="getOpt(option)" modal-title="Select">
            Select it
            <div class="option">
              <h2>{{option.name}}</h2>
              <p>{{option.role}}</p>
            </div>
          </button>
          <button class="button button-dark" modal-select="" ng-model="someThirdModel" options="selectableNames" option-getter="getOpt(option)" modal-title="Select" has-search="true">
            Select it - with search
            <div class="option">
              <h2>{{option.name}}</h2>
              <p>{{option.role}}</p>
            </div>
          </button>
        </div>
        <div class="item">
          someThirdModel: {{someThirdModel}}
        </div>

        <div class="item item-divider"></div>
        <div class="item item-text-wrap">
          Selection and reset callbacks
        </div>
        <div class="item item-body">
          <button class="button button-dark" modal-select="" ng-model="someFourthModel" options="selectableNames" on-select="shoutLoud(newValue, oldValue)" on-reset="shoutReset()" modal-title="Select">
            Select it
            <div class="option">
              <h2>{{option.name}}</h2>
              <p>{{option.role}}</p>
            </div>
          </button>
        </div>
        <div class="item">
          someFourthModel: {{someFourthModel}}
        </div>


        <div class="item item-body">
          <p>
            Late change of options.
          </p>
          <button class="button button-dark" modal-select="" ng-model="someFifthModel" options="laterSelectables" modal-title="Select">
            Select it
            <div class="option">
              <h2>{{option}}</h2>
            </div>
          </button>
        </div>
        <div class="item">
          someFifthModel: {{someFifthModel}}
        </div>


        <div class="item item-body">
          <p>
            Repeat expression with filter
          </p>
        </div>
        <label class="item item-input">
          <span class="input-label">Filter</span>
          <input type="text" ng-model="externalFilter">
        </label>
        <div class="item item-body">
          <button class="button button-dark" modal-select="" ng-model="someSixthModel" options-expression="person in selectableNames | orderBy:'role' | filter : externalFilter" modal-title="Select">
            Select it
            <div class="option">
              <h2>{{option}}</h2>
            </div>
          </button>
          <button class="button button-dark" modal-select="" ng-model="someSixthModel" options-expression="person in selectableNames | orderBy:'role' | filter : externalFilter" modal-title="Select" has-search="true">
            Select it
            <div class="option">
              <h2>{{option}}</h2>
            </div>
          </button>
        </div>
        <div class="item">
          someSixthModel: {{someSixthModel}}
        </div>
    -->
  </ion-content>
</ion-view>
