<ion-view view-title="ionic-modal-select">
  <ion-content>
        <div class="item item-body text-center">
            <h1 class="title">ionic-modal-select</h1>
            <img src="img/ionic-modal-select.small.png" alt="" class="image" style="margin:10px">
        </div>
        <div class="item item-body text-center">
            
            <h2><b class="xsubtitle">A modal select ui component for the Ionic framework</b></h2>
            <p class="text-justify">
                An <code>ng-model</code> aware directive that turns any clickable element into a select widget that shows selectable options in a modal.
            </p>
        
            <div class="button button-large button-calm" ui-sref="app.api">Docs</div>
            <div class="button button-large button-dark" ui-sref="app.examples">Examples</div>
        </div>

        <div class="card list">
            <div class="item item-divider calm-bg">
                <b class="white-text">Features</b>
            </div>
            <div class="item">
                <h2>Long lists</h2>
                <p>Supports long list of object via collection-repeat</p>
            </div>
            <div class="item">
                <h2>Customizable UI</h2>
                <p>Buttons and modal style</p>
            </div>
            <div class="item">
                <h2>Callbacks</h2>
                <p>Callbacks for item selection and selection reset</p>
            </div>
            <div class="item">
                <h2>Search bar</h2>
                <p>Optional search bar to filter options.</p>
            </div>
        </div>

        <div class="card list">
            <div class="item item-divider calm-bg">
                <b class="white-text">Animated demo</b>
            </div>
            <div class="item item-text-wrap">
                <p>This is an example of interaction <b>ionic-modal-select</b></p>
            </div>
            <div class="item item-image padding">
                <img style="height:auto; width:320px;max-width:90%;" src="https://dl.dropboxusercontent.com/u/6178230/screenshots/ionic-modal-picker.gif" alt="animated demo">
                
            </div>
            
        </div>


  </ion-content>
  <ion-footer-bar class="text-center bar-calm">
    <h2 class="title">made with <i class="icon ion-ios-heart"></i> by <a href="http://www.inmagik.com" class="pointer  positive"target="_blank">INMAGIK</a></h2>
    </ion-footer-bar>
  
</ion-view>
