<div class="item item-divider">
  Reset callback
</div>
<div class="item item-text-wrap">
  <p>You can set a callback that will be fired when the user resets the selected option one option with the <span class="positive">on-reset</span> attribute. This attributes accepts a function call with no arguments.</p>
</div>
<div class="item item-body">
  <h3>Controller:</h3>
  <div example-render mode="javascript" class="">
    $scope.selectables = [1, 2, 3]; $scope.shoutReset = function(){ alert("value was reset!"); };
  </div>
  <h3>Template</h3>
  <div example-render>
    <button class="button button-positive" modal-select ng-model="onResetModel" options="selectables" on-select="shoutReset()">
      Select it
      <div class="option">
        {{option}}
      </div>
    </button>
    <h3>
Selected value: {{onResetModel}}
</h3>
  </div>

  <h3>Result:</h3>
  <button class="button button-positive" modal-select ng-model="onResetModel" options="selectables" on-reset="shoutReset()">
    Select it
    <div class="option">
      {{option}}
    </div>
  </button>
  <h3>
    Selected value: {{onResetModel}}
  </h3>

</div>
