<div class="card list">
<div class="item item-divider">
    Options via <b>options-expression</b>
</div>
<div class="item item-body">
  <p>Anoter way of passing the list of options to the directive is via the <span class="positive">options-expression</span> attribute, that accepts an expression similar to what you would use with ionic <code>collection-repeat</code> directive, of the format <code>variable in expression</code> – where variable is the user defined loop variable and expression is a scope expression giving the collection to enumerate. For example: <code>album in artist.albums</code> or <code>album in artist.albums | orderBy:'name'</code>. This allows you to apply ordering or filtering without acting on the original array.</p>
  <p>
    This example that follows filters options with a text input and orders them via <code>orderBy</code> angular filter.
    (Note that whis has nothing to do with the "search bar" feature of this directive).
  </p>
  <h3>Controller:</h3>
  <div example-render mode="javascript">
$scope.selectableNames =  [
{ name : "Mauro", role : "juggler"},
{ name : "Silvia", role : "chef"},
{ name : "Merlino", role : "little canaglia"},
];
  </div>
  <h3>Template</h3>
  <div example-render>
<label class="item item-input">
<span class="input-label">Filter</span>
<input type="text" ng-model="externalFilter">
</label>
<div class="item">
<button class="button button-dark" modal-select ng-model="someSixthModel" options-expression="person in selectableNames | orderBy:'role' | filter : externalFilter" modal-title="Select">
Select it
<div class="option">
<h2>{{option}}</h2>
</div>
</button>
</div>
<div class="item">
<h3>
Selected value: {{someSixthModel}}
</h3>
</div>
  </div>

  <h3>Result:</h3>
  <label class="item item-input">
    <span class="input-label">Filter</span>
    <input type="text" ng-model="externalFilter">
  </label>
  <div class="item">
    <button class="button button-dark" modal-select ng-model="someSixthModel" options-expression="person in selectableNames | orderBy:'role' | filter : externalFilter" modal-title="Select">
      Select it
      <div class="option">
        <h2>{{option}}</h2>
      </div>
    </button>
  </div>
  <div class="item">
    <h3>
    Selected value: {{someSixthModel}}
    </h3>
  </div>

</div>
</div>
