<div class="card list">

  <div class="item item-divider">
    Array of objects
  </div>
  <div class="item item-body">
    <h3>Getting whole object</h3>
    <p>You can also pass in an array of objects to be used as options. In this case you can decide which fields you want to render in your option template. If nothing else is specified, the directive will set the whole object on your model</p>
    <h3>Controller:</h3>
    <div example-render mode="javascript">
      $scope.secondModel = null; $scope.selectableNames = [ { name : "Mauro", role : "juggler"}, { name : "Silvia", role : "chef"}, { name : "Merlino", role : "little canaglia"}, ];
    </div>
    <h3>Template:</h3>
    <div example-render>
      <button class="button button-positive" modal-select ng-model="someModel" options="selectables" modal-title="Select a person">
        Select it
        <div class="option">
          {{option}}
        </div>
      </button>
      <h3>
Selected value: {{secondModel}}
</h3>
    </div>

    <h3>Result:</h3>
    <button class="button button-positive" modal-select ng-model="secondModel" options="selectableNames" modal-title="Select a person">
      Select it
      <div class="option">
        <h2 class="title">{{option.name}}</h2>
        <p>{{option.role}}</p>
      </div>
    </button>
    <h3>
    Selected value: {{secondModel}}
  </h3>
    <hr>
    <h3>Getting a single property</h3>
    <p>
      If you want to pick only a property of your object as result of selection, you can do it by using the <span class="positive">option-property</span> attribute.
      <br> In our previous example, let's pick only the value of the "name" property of our options. Note that you can still use all the properties of your objects in option template.
    </p>
    <h3>Template:</h3>
    <div example-render>
      <button class="button button-positive" modal-select ng-model="model3" options="selectables" option-property="name" modal-title="Select a person">
        Select it
        <div class="option">
          {{option}}
        </div>
      </button>
      <h3>
Selected value: {{secondModel}}
</h3>
    </div>
    <h3>Result:</h3>
    <button class="button button-positive" modal-select ng-model="model3" option-property="name" options="selectableNames" modal-title="Select an person">
      Select it
      <div class="option">
        <h2 class="title">{{option.name}}</h2>
        <p>{{option.role}}</p>
      </div>
    </button>
    <h3>
    Selected value: {{model3}}
  </h3>

    <hr>
    <h3>Getting a custom value with <b>option-getter</b></h3>
    <p>
      You can also pick up a value computed from the selected option in a custom way. This can be done using the <span class="positive">option-getter</span> attribute and specifying a function call to obtain the selected value from the original option.
      The function call must use a parameter called <b>option</b> as argument.
    </p>
    <h3>Controller:</h3>
    <div example-render mode="javascript">
      $scope.getOpt = function(option){ return option.name + ":" + option.role; };
    </div>
    <h3>Template:</h3>
    <div example-render>
      <button class="button button-positive" modal-select ng-model="model4" options="selectables" option-getter="getOpt(option)" modal-title="Select a person">
        Select it
        <div class="option">
          {{option}}
        </div>
      </button>
      <h3>
Selected value: {{model4}}
</h3>
    </div>
    <h3>Result:</h3>
    <button class="button button-positive" modal-select ng-model="model4" option-getter="getOpt(option)" options="selectableNames" modal-title="Select a person">
      Select it
      <div class="option">
        <h2 class="title">{{option.name}}</h2>
        <p>{{option.role}}</p>
      </div>
    </button>
    <h3>
    Selected value: {{model4}}
  </h3>
  </div>
</div>
