<div class="item item-divider">
  Setting the loading message
</div>
<div class="item item-text-wrap">
  <p>When using <code>collection-repeat</code> rendering mode, you can set the message on the loader with the <span class="positive">load-list-message</span> attribute.</p>

</div>
<div class="item item-body">
  <h3>Controller:</h3>
  <div example-render mode="javascript" class="">
    $scope.numbers = [1,2,3,4,5,6,7,8];
  </div>
  <h3>Template</h3>
  <div example-render>
    <button class="button button-positive" modal-select ng-model="loadListModel" options="numbers" load-list-message="loading dude">
      Select it
      <div class="option">
        {{option}}
      </div>
    </button>
    <h3>
      Selected value: {{loadListModel}}
    </h3>
  </div>

  <h3>Result:</h3>
  <button class="button button-positive" modal-select ng-model="loadListModel" options="numbers" load-list-message="loading dude" use-collection-repeat="true">
    Select it
    <div class="option">
      {{option}}
    </div>
  </button>
  <h3>
    Selected value: {{loadListModel}}
  </h3>

</div>
