<div class="item item-divider">
  Cancel and reset button
</div>
<div class="item item-text-wrap">
  <p>You can change the text of "cancel" and "reset" buttons with <span class="positive">cancel-button</span> and <span class="positive">reset-button</span> attrs</p>
  <p>If you want to remove the reset button you can do it by setting the <span class="positive">hide-reset</span> attr to <code>true</code></p>

</div>
<div class="item item-body">
  <h3>Controller:</h3>
  <div example-render mode="javascript" class="">
    $scope.selectables = [1, 2, 3];
  </div>
  <h3>Template:</h3>
  <div example-render>
    <button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" cancel-button="cancel this!" reset-button="reset this!">
      Select it
      <div class="option">
        {{option}}
      </div>
    </button>
    <button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" hide-reset="true">
      Select with no reset
      <div class="option">
        {{option}}
      </div>
    </button>
    <h3>
Selected value: {{someModel}}
</h3>
  </div>

  <h3>Result:</h3>
  <button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" cancel-button="cancel this!" reset-button="reset this!">
    Select it
    <div class="option">
      {{option}}
    </div>
  </button>
  <button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" hide-reset="true">
    Select with no reset
    <div class="option">
      {{option}}
    </div>
  </button>
  <h3>
    Selected value: {{someModel}}
  </h3>

</div>
